{{! each takes the value of the 'model' property, or the 'content' property (they literally are identical) of the controller, binds `this` to the current iteration
and spits out each of the bits of template you define.}}
{{#each}}
    {{#view App.PostView}}
        <section class="redditColumn">
            {{#link-to "post" subreddit id}}
        <article class="singleReddit">
            <section class="votes">
                <div class="up">{{ups}}</div>
                <div class="down">{{downs}}</div>
            </section>
            {{! bind-attr is an ember helper that takes a controller value (in this case, thumbnail) and binds it to the appropriate tag attribute.}}

            {{! we are also binding an action on click of the image to the showImage controller action. see IndexController for definition.}}
            <img class="thumbnail" {{bind-attr src='thumbnail'}} />
            <h6>{{title}}</h6>
            <section class="meta">
                <div class="commentCount">
                    there are {{num_comments}} comments.
                </div>
                <div class="author">posted by: {{author}} on subreddit {{subreddit}}.</div>
            </section>
        </article>
        {{/link-to}}
    </section>
    {{/view}}
{{/each}}
